@import '@/styles/theme.scss';

button {
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  transition: background-color, opacity 0.4s;
  padding: 12px 0;
  opacity: 1;
  &.Gray {
    background-color: $gray500;
    color: $white;
  }
  &.Active {
    background-color: $purple1;
    color: $white;
  }
  &.White {
    background-color: $white;
    border: 1px solid $gray300;
    color: $gray500;
  }
  &.Primary {
    background-color: $primary;
    color: $white;
  }
  &.Disabled {
    background-color: $gray0;
    color: $gray200;
    pointer-events: none;
  }
  &.Abled {
    background-color: $purple2;
    color: $purple1;
  }
  &.Reserved {
    background-color: $white;
    border: 1px solid $gray200;
    color: $gray100;
  }
  &.TimeActive {
    background-color: $gray400;
    border: 1px solid $gray400;
    color: $white;
  }
  &.TimeDisabled {
    pointer-events: none;
    border: 1px solid $gray200;
    color: $gray100;
    background-color: transparent;
  }
  &.Spacing {
    background-color: $spacing400;
    color: $white;
  }
  &.Certification {
    color: $white;
    background-color: $gray400;
  }
  &.List {
    background-color: $white;
    border: 1px solid $gray100;
    color: $gray500;
  }
  &:hover {
    opacity: 0.8;
  }
}