@import '@/styles/theme.scss';

.AssignmentCardWrapper {
  padding: 20px;
  background-color: $purple2;
  min-width: 300px;
  border-radius: 10px;
  &.Blue {
    background-color: $purple2;
  }
  &.Pink {
    background-color: $pink200;
  }
}

.AssignmentDescription {
  color: $gray400;
  font-size: 14px;
  font-weight: 500;
  white-space: pre-wrap;
  text-overflow: ellipsis;
}

.AssignmentTitleFlex {
  margin-top: 20px;
  display: flex;
  align-items: center;
  
}
.AssignmentDday {
  color: $purple1;
  font-size: 14px;
  font-weight: 700;
}
.AssignmentTitle {
  color: $gray300;
  font-size: 12px;
  font-weight: 400;
  margin-left: 9px;
}