@import "@/styles/theme.scss";

.SignUpContainer {
  // padding: 16px 0;
}


.LoginButton {
  width: 100%;
  margin-top: 10px;
}

.LabelWrap {
  margin-top: 22px;
  text-align: left;
  color: $gray300;
  font-size: 14px;
  font-weight: 600;
}

.Flex {
  display: flex;
  margin-top: 6px;
  gap: 4px  ;
}

.WrapInput {
  padding: 13px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
  border: 1.5px solid $gray100;
  width: calc(100% - 20px) ;
  transition: all 0.3s ease-in-out; /* 애니메이션 추가 */
  flex: 70%;
  &::placeholder {
    color: $gray200;
    
  }
  &:focus {
    border-color: $purple1; /* 포커스 시 테두리 색상 변경 */
    // box-shadow: 0 0 8px rgba(74, 144, 226, 0.6); /* 포커스 시 그림자 효과 */
    outline: none; /* 기본 아웃라인 제거 */
    transform: scale(1.02); /* 포커스 시 살짝 커지도록 */
  }
}

.WrapButton {
  padding: 2px 16px;
  width: 100%;
  flex:30%;
}

.FlexCheckBoxWrap {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
  gap: 20px;
  > button {
    flex: 1;
  }
}