@import '@/styles/theme.scss';

.TableHead {
    background-color: $purple2;
    width: 100%;
    > tr {
        display: flex;
        align-items: flex-start;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        color: $gray500;
        > th {
            text-align: left;
            padding: 12px 12px;
        }
        .TableHead0 {
            width: 10%;
        }
        .TableHead1 {
            width: 70%;
        }
        .TableHead2 {
            width: 20%;
        }
    }
}

.TableBody {
    background-color: white;
    > tr {
        display: flex;
        align-items: flex-start;
        border-bottom: 1px solid $gray100;
        > td {
            padding: 12px 12px;
        }
        .TableNum {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            color: $gray400;
            width: 10%;
            margin: auto 0;
        }
        .TableTitle {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            color: $gray400;
            width: 70%;
            display: flex;
            flex-direction: column; 
            align-items: flex-start;
            .Title {
              display: flex;
              flex-direction: row;
              cursor: pointer;
            }
            a {
              color: inherit;
              text-decoration: none;
            }
            .NewIcon {
                margin-left: 5px;
            }
            .TitleDetails {
                display: flex;
                flex-direction: row; 
                align-items: center; 
                margin-top: 5px; 
                color: $grayDefault; 
                .Status {
                    font-size: 12px;
                    font-weight: 400;
                    &.InProgress {
                        color: $green100; 
                    }
                    &.Ended {
                        color: $grayDefault; 
                    }
                }
                .Submit {
                    font-size: 12px;
                    font-weight: 400;
                    &.Submit {
                        color: $grayDefault; 
                    }
                    &.NotSubmitted {
                        color: $spacing400; 
                    }
                }
                .DueDate {
                    font-size: 12px;
                    font-weight: 400;
                    color: $grayDefault;
                }
            }
        }
        .CreatedAt {
            color: $grayDefault;
            font-size: 12px;
            font-weight: 400;
            width: 20%;
        }
    }
    .EndedRow{
        background-color: $gray0;
    }
}
