@import '@/styles/theme.scss';

.Title {
  color: $black;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px; /* 146.667% */
}

.TimeWrap {
  justify-content: space-between;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 8px;
  margin-top: 16px;
  > .TimeButton {
    padding: 12px 14px;
    margin-bottom: 10px; /* 요소들 간의 세로 간격 */
  }
}

.NavigateWrap {
  margin-top: 58px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  > button {
    text-align: center;
    padding: 17px 67.75px;
    flex:1;
  }
}