@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');
@import '@/styles/theme.scss';

html,
body,
div,
span,
h2,
h3,
h4,
h5,
h6 ,
input{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

input {
  outline: none;
  border: none;
  background-color: transparent;
}

textarea {
  outline: none;
  border: none;
  background-color: transparent;
  resize: vertical;
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
}

.Divider {
  border: 1px solid $gray100;
  &.Reservation {
    // margin: 26px 0;
  }
  &.Vertical {
    height: 18px;
    border: 1px solid $purple1;
    background-color: $purple1;
    width: 5px;
    border-radius: 13px;
  }
  &.Aside {
    border: 1px solid #494949;
  }
  &.Title {
    margin: 0 0 28px 0;
  }
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type='number'] {
  -moz-appearance: textfield;
}

table {
  border-spacing: 0;
  border-color: transparent;
  border-radius: 10px;
  border-collapse: collapse;
  border-style: hidden;
}

.ps-sidebar-root ps-toggled ps-broken css-gyb9rh {
  position: absolute;
  right: 0;
}

ul,li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.SpacingWrapper {
  padding: 0 0 16px 0;
}

.SpacingDividerWrapper {
  padding: 18px 0;
}

.Space {
  height: 20px; 
  background-color: $gray0;
}