$gray0: #F6F6F6;
$gray100: #ECECEC;
$gray200: #c7c7c7;
$gray300: #767676;
$gray500: #7d8691;
$gray400: #8b95a1;
$gray700: #687079;
$gray800: #535961;
$gray1000: #313438;
$primary: #383cd1;
$black: #000;
$white: #fff;
$spacing400: #ff6a69;
$purple1: #7879F1;
$purple2: #F3F5FF;