$gray100: #f3f4f6;
$gray200: #eeeff1;
$gray300: #dbdee2;
$gray500: #7d8691;
$gray400: #8b95a1;
$gray700: #687079;
$gray800: #535961;
$gray1000: #313438;
$primary: #383cd1;
$black: #000;
$white: #fff;
$spacing400: #ff6a69;
