@import '@/styles/theme.scss';

.Title {
  color: $black;
  font-size: 18px;
  font-weight: 600;
}

.InfoWrap {
  display: flex;
  align-items: center;
  margin-top: 6px;
  > div {
    font-size: 14px;
    font-weight: 400;
  }
  > div:first-child {
    color: $gray300;
  }

  > div:last-child {
    color: $grayDefault;
  }
  > span {
    color: $gray200;
  }
}


.FileContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
  .FileColumnWrapper {
    background-color: $purple2;
    padding: 14px 12px;
    border-radius: 10px;
    .FileWrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .Flex {
        display: flex;
        align-items: center;
        gap: 8px;
        .Name {
          color: $gray400;
          font-size: 14px;
          font-weight: 400;
          max-width: 150px;
          text-overflow: ellipsis;
          // white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }
}


.DownloadButton {
  padding: 6px 8px;
  font-size: 14px;
}

.ListButtonWrap {
  text-align: right;
  display: flex;
  gap: 10px;
  align-items: flex-end;
  justify-content: flex-end;
}
.ListButton {
  padding: 6px 14px;
  margin-top: 24px;
}