.AttendanceInputWrap {
    padding: 0 50px;
}
.AttendanceButton {
    width: 100%;
    padding: 8px 0px;
    margin-top: 10px;
}

.AttendanceTable {
    margin-top: 10px;

    .AttendanceHead {
        
    }
}