@import '@/styles/theme.scss';

.MypageContainer {
    display: flex;
    flex-direction: column;
}
  
.InfoTable {
    width: 100%;
    text-align: left;
    > tr {
        height: 50px;
        > th {
            color: $gray300;
            font-size: 16px;
            font-weight: 600;
        }    
    }
}

.EditButton {
    margin-top: 20px;
}
