@import '@/styles/theme.scss';

.Container {
    padding: 20px 0;
}

.TableHead {
    background-color: $purple2;
    width: 100%;
    color: $gray400;
    > tr {
        display: flex;
        align-items: flex-start;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        color: $gray500;
        > th {
            text-align: left;
            padding: 12px 12px;
        }
        .TableHead0 {
            width: 30%;
        }
        .TableHead1 {
            width: 35%;
        }
        .TableHead2 {
            width: 35%;
        }
    }
}

.TableBody {
    color: $gray400;
    background-color: #FBFBFE;
    > tr {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $gray100;
        cursor: pointer;
        > td {
            padding: 12px 12px;
        }
        .Name {
            width: 30%;
        }
        .Tel {
            width: 70%;
            max-height: 100px;
            overflow-y: auto;
        }
    }
}
