@import '@/styles/theme.scss';

.ChatRoomsWrapper {
  > .ChatRoomsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15.5px 0px;

    margin-bottom: 8px;
    color: $black;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;

    > .EditIcon {
      stroke: $gray500;
      cursor: pointer;
    }
  }
}
