@import '@/styles/theme.scss';

.ChatItemWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px;

  > .ChatItemContainer {
    display: flex;
    align-items: center;
    gap: 16px;
    flex: 1;
    cursor: pointer;

    > .ChatImage {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #ccc;
      object-fit: cover;
    }

    > .ChatContent {
      > .ChatTitle {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 8px;

        > .ShopName {
          color: $black;
          font-size: 16px;
          font-weight: 600;
          line-height: 22px;
        }
        > .LastDate {
          color: $gray400;
          font-size: 13px;
          font-weight: 500;
          line-height: 18px;
        }
      }

      > .ChatText {
        color: $gray700;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
      }
    }
  }

  .UnViewCount {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff6a69;
    color: $white;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
  }

  .RadioIcon {
    margin-right: 36px;
  }
}
