:root {
  --vh: 100%;
}

.RootLayout {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: calc(var(--vh, 1vh) * 100);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* 유지 */
}

.HeaderWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Hamburger {
  right: 20px;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.AsideContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
  height: 100%;
  display: flex;
  transition: transform 0.6s ease;
  transform: translateX(100%);
  z-index: 1000;
  &.open {
    transform: translateX(0);
  }
  .AsideBar {
    width: 100%;
    height: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    * {
      cursor: pointer;
    }
  }
}


.Overlay {
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  &.open {
    opacity: 1;
    pointer-events: auto;
  }
}

.Content {
  flex: 1 1 auto;
  overflow-y: auto; /* 변경된 부분 */
  padding: 20px; /* 선택 사항: 내부 여백을 위해 추가 */
  height: 100%;
}

.HeaderTitle {
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
}
.WithAsideTitle {
  font-weight: 600;
}

.DividerWrap {
  padding: 26px 0;
}