@import '@/styles/theme.scss';

button {
  padding: 14px 60px;
  border-radius: 5px;
  border: 1px solid $gray100;
  background-color: #fff;
  color: $gray300;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s;
  &.Active {
    border: 1.5px solid $purple1;
    background-color: $purple2;
    color: $purple1;
    font-weight: 600;
  }
  &:focus {
    border-color: $purple1; /* 포커스 시 테두리 색상 변경 */
    outline: none; /* 기본 아웃라인 제거 */
  }
}

.CheckBoxFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  > div {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 1px solid $gray100;
    transition: border 0.3s;
      &.Active {
      border: 5px solid $purple1;
      background-color: $purple2;
      color: $purple1;
      font-weight: 600;
    }
  }
}